<div class="booyah-box col-lg-5">
  <div class="row">
    <div class="col-2">
      <%= image_tag 'user3.png' %>
    </div>
    <div class="col offset-md-2">
    <p><%= @user.email %><br />
    member since: <%= @user.created_at.strftime("%B %d, %Y") %><br />
    <%= @user.comments.count %> total comments, <%= @user.comments.where(rating: '5_stars').count %> total 5 star reviews</p>
    </div>
  </div>
</div>

<div class="clear"></div>

<br /><br />
<h1 class="text-center">My Comments</h1>
<br />
<div class="row">
  <% @user.comments.each do |comment| %>
    <div class="booyah-box col-12 col-md-8 offset-md-2 ">
      <h2 class="black"><%= link_to comment.place.name, place_path(comment.place) %></h2>
        <blockquote>
          <% if comment.humanized_rating.present? %>
            <b><%= comment.humanized_rating %></b>
          <% end %>
          <%= comment.message %>
          <small><%= comment.user.email %></small>
        </blockquote>
      </div>
  <% end %>
</div>

<div class="clear"></div>
<br /><br />
<h1 class="text-center">My Places</h1>
<br />

<% @user.places.each do |place| %>
  <div class="booyah-box col-12 col-md-8 offset-md-2">
    <h2 class="black"><%= link_to place.name, place_path(place) %></h2><br />
    <i><%= place.address %></i><br />
    <p><%= place.description %></p><br />

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>

    <% if place.comments.present? %>
      <div class="col-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b>
          <% end %>
          <%= place.comments.last.message %>
          <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>
<% end %>